<%- include('../layouts/user/lyHeader.ejs') %>
		<!-- WRAPPER START -->
		<div class="wrapper bg-dark-white">
	
			
				<!-- sidebar-search End -->
			<!-- HEADER-AREA START -->
			<%- include('../layouts/user/Header.ejs') %>
			<!-- HEADER-AREA END -->
			<!-- Mobile-menu start -->
			<%- include('../layouts/user/mobile.ejs') %>
			<!-- HEADER-AREA START -->

            <div class="heading-banner-area position-relative  overlay-bg">
                <img src="/image/back.jpg" class="position-absolute object-fit-cover " style="width: 100%; height: 100%;object-fit: cover; " alt="">				
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="heading-banner">
								<div class="heading-banner-title">
									<h2>Shopping Cart</h2>
								</div>
								<div class="breadcumbs pb-15">
									<ul>
										<li><a href="/">Home</a></li>
										<li>Shopping Cart</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <% if(!Data?.products.length==0){ %>
<div class="tab-pane" id="wishlist">
    <form action="#">
        <div class="shop-cart-table">
            <div class="table-content table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th class="product-thumbnail">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-add-cart">Quantity</th>
                            <th class="product-remove">Total</th>                            
                            <th class="product-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                     
                        <% let stockCheck=true %>
                            <% if(user_id){  %>
                        <% Data.products.forEach(data=>{ %>
                     
                            <tr id="g<%=data.productId._id  %>">
                                <td class="product-thumbnail  text-left">
                                    <!-- Single-product start -->
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/product?id=<%=data.productId._id %>"><img src="/ImageData/<%=data.productId.image[0]%>" width="120" ></a>
                                        </div>
                                        <div class="product-info">
                                            
                                            <h4 class="post-title"><%=data.productId.name %></h4>
                                            <% if(data.productId.offer>0){ %>
                                                <span style="color: #0b9639;">(-<%=data.productId.offer%>%)</span>
                                                <br>
                                                <% } %>
                                                <% if(data.productId.quantity<=0){  %>
                                                    <span class="text-danger "> <b>Sold Out</b> </span>
                                                    <% stockCheck=false %>
                                                    <% } %>
                                      
                                    </div>
                                </div>
                                <!-- Single-product end -->				
                            </td>
                            <td class="product-price ">₹<%=data.productId.offerPrire%></td>

                            <td class="d-flex justify-content-center" style="padding-top: 3.4rem;">
                              <!-- //  class="cart-plus-minus-box"class="cart-plus-minus" -->
                                  <div  onclick="qu(this,'<%=data.productId._id%>','<%=data.productId.offerPrire%>')" >
                                      <input  type="number" value="<%=data.quantity %>" name="quantity"  step="1" max="<%=data.productId.quantity%>" min="1"  > 
                                  </div>
                           <% let qutytotal=data.productId.offerPrire*data.quantity %>
                                
                           
                            </td>
                            <td class="pr" id="totalss<%=data.productId._id%>">₹<%=qutytotal%>.00</td>
                            <td class="product-remove">
                                <a onclick="dele('<%=data.productId._id%>')"><i class="zmdi zmdi-close"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                        <% } %>
                    </tbody>
               
                </table>
            </div>
        </div>
    </form>									
</div>
<div class="row justify-content-center d-flex ">
  
    <div class="col-md-8">
        <div class="customer-login payment-details mt-30">
            <h4 class="title-1 title-border text-uppercase">payment details</h4>
            <table>
                <tbody>
         
                   
                    <tr>
                        <td class="text-left">Original Price</td>
                        <td class="text-end" id="price">₹.00</td>
                    </tr>
                   
                    <tr>
                        <td class="text-left">Vat</td>
                        <td class="text-end">₹00.0</td>
                    </tr>
                    <tr>
                        <td class="text-left">Order Total</td>
                        <td class="text-end" id="total">₹.00</td>
                    </tr>
                   
                </tbody>
               
               
            </table>
            <% if(stockCheck==true){ %>
                <a href="/checkout"><button type="submit"  class="button-one submit-button mt-15">PLACE ORDER</button></a>
                <% }else{ %>
                    <a href="/checkout"><button type="submit" disabled class="button-one submit-button mt-15">PLACE ORDER</button></a>
                    <% } %>
            <% }else{%>
                <div class="d-flex  justify-content-center ">
                    <div>
                        <br>
                        <h4 class="title-1 ">ADD PRODUCT</h4>
                        <a href="/shop"><input type="button" value="Shop" class="button-one submit-button w-100" style="border:0 !important;" ></a>
                    </div>
                </div>
                <br>
                <% } %>
        </div>
    </div>
</div>

<!-- wishlist end -->
<!-- check-out start -->

<!-- check-out end -->
<!-- order-complete start -->

<!-- order-complete end -->
</div>
<%- include('../layouts/user/Footer.ejs') %>
<!-- FOOTER END -->
<!-- QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
   <!-- Modal -->
   <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="#" src="img/product/quickview-photo.jpg"/>
                            </div>
                        </div><!-- .product-images -->

                        <div class="product-info">
                            <h1>Aenean eu tristique</h1>
                            <div class="price-box-3">
                                <hr />
                                <div class="s-price-box">
                                    <span class="new-price">$160.00</span>
                                    <span class="old-price">$190.00</span>
                                </div>
                                <hr />
                            </div>
                            <a href="shop.html" class="see-all">See all features</a>
                            <div class="quick-add-to-cart">
                                <form method="post" class="cart">
                                    <div class="numbers-row">
                                        <input type="number" id="french-hens" value="3" min="1">
                                    </div>
                                    <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                                </form>
                            </div>
                            <div class="quick-desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
                            </div>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social-icons">
                                        <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="zmdi zmdi-google-plus"></i></a></li>
                                        <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="zmdi zmdi-twitter"></i></a></li>
                                        <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="zmdi zmdi-facebook"></i></a></li>
                                        <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .product-info -->
                    </div><!-- .modal-product -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
   </div>
   <!-- END Modal -->
</div>
<!-- END QUICKVIEW PRODUCT -->	

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    const total1=document.getElementById('price')
    const offtotal=document.getElementById('total')
    
    const price=document.querySelectorAll('.pr')

    
    let totalPrice= 0
    price.forEach(e=>{
      totalPrice+=Number(e.textContent.replace('₹',''))  
    })

        total1.textContent=`₹ ${totalPrice}.00`
        offtotal.textContent=`₹ ${totalPrice}.00`
    
      function qu(e,id,total, offer){

        const totalss=document.getElementById(`totalss${id}`)

        const inp=e.querySelector('input')
        const totals=total*inp.value
        // const offers=offer*inp.value
        
        fetch('/quantityUpdate', {
        method: "put",
        headers: {
        'Content-Type': 'application/json'
    },
        body: JSON.stringify({ id,val:inp.value})
   }).then((data)=>(data.json()))
    .then((data)=>{
        totalss.textContent='₹'+totals+'.00'
        const total1=document.getElementById('price')
    const offtotal=document.getElementById('total')
    
    const price=document.querySelectorAll('.pr')
    
    let totalPrice= 0
    price.forEach(e=>{
      totalPrice+=Number(e.textContent.replace('₹',''))  
    })
offtotal.textContent=`₹ ${totalPrice}.00`
    total1.textContent=`₹ ${totalPrice}.00`
        

    })
    }

    function dele(id){
       const tr=document.getElementById(`g${id}`)
        fetch('/cartDelete', {
        method: "post",
        headers: {
        'Content-Type': 'application/json'
    },
        body: JSON.stringify({ id})
   })
    tr.remove()
    window.location.reload()
    }






</script>



<!-- WRAPPER END -->

<!-- all js here -->
<!-- jquery latest version -->


<!-- Mirrored from template.hasthemes.com/hurst-v1/hurst/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 06:47:39 GMT -->
<%- include('../layouts/user/lyFooter.ejs') %>