<%- include('../layouts/user/lyHeader.ejs') %>

    <style>
        .se:hover {

            background-color: rgb(239, 239, 239);
        }

        .se:active {
            background-color: rgb(211, 211, 211);
        }
    </style>


    <!-- Address add -->

    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ExampleModalLabel">Add Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="tab-pane fade" id="account-info" role="tabpanel"> -->
                    <div class="myaccount-content p-4">
                        <div class="account-details-form">
                            <form id="MyAddress" action="/address" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <label for="first-name" class="required">Name <span>*</span></label>
                                            <input type="text" name="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="last-name" class="required" placeholder="Enter Phone no.">Mobile
                                                Number <span>*</span></label>
                                            <input type="text" name="phone" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="last-name" class="required"
                                                placeholder="Enter locality">locality <span>*</span></label>
                                            <input type="text" name="locality" />
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class=" single-input-item">
                                            <label for="first-name" class="required"
                                                placeholder="Enter Postal code">Pincode <span>*</span></label>
                                            <input type="text" name="pincode" />
                                        </div>
                                    </div>

                                </div>

                                <div class="  single-input-item">
                                    <label for="display-name" class="required">Address <span>*</span></label>
                                    <textarea type="text" cols="60" rows="3" placeholder="Enter full address"
                                        name="place"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="first-name" class="required" placeholder="Enter City">City
                                                <span>*</span></label>
                                            <input type="text" name="city" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="last-name" class="required">State <span>*</span></label>
                                            <input type="text" name="state" />
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button class="btn btn-dark " style="border-radius: 20px;">Save</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Address Edit -->


    <div class="modal fade" id="examplemodal" tabindex="-1" role="dialog" aria-labelledby="examplemodal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examplemodal">Edit Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="tab-pane fade" id="account-info" role="tabpanel"> -->
                    <div class="myaccount-content p-4">
                        <div class="account-details-form">
                            <form action="/CheckOutEditAddress" method="post" id="EditModal">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <label for="first-name" class="required" placeholder="Enter name">Name
                                                <span>*</span></label>
                                            <input type="text" id="name1" name="name" />
                                            <div id="nameError" class="text-danger "></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="last-name" class="required" placeholder="Enter Phone no.">Mobile
                                                Number <span>*</span></label>
                                            <input type="text" id="phone" name="phone" />
                                            <div id="mobileError" class="text-danger "></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="last-name" class="required"
                                                placeholder="Enter locality">locality <span>*</span></label>
                                            <input type="text" id="locality" name="locality" />
                                            <div id="localityError" class="text-danger "></div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div class=" single-input-item">
                                            <label for="first-name" class="required"
                                                placeholder="Enter Postal code">Pincode <span>*</span></label>
                                            <input type="text" id="pincode" name="pincode"  />
                                            <div id="pincodeError" class="text-danger "></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="  single-input-item">
                                    <label for="display-name" class="required">Address <span>*</span></label>
                                    <textarea type="text" id="place" rows="3" placeholder="Enter full address"
                                        name="place" style="width: 32vw;"></textarea>
                                    <div id="addressError" class="text-danger "></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="first-name" class="required" placeholder="Enter City">City
                                                <span>*</span></label>
                                            <input type="text" id="city" name="city" />
                                            <div id="cityError" class="text-danger "></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="  single-input-item">
                                            <label for="last-name" class="required">State <span>*</span></label>
                                            <input type="text" id="state" name="state" />
                                            <div id="stateError" class="text-danger "></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button class="btn btn-dark " style="border-radius: 20px;">Save</button>
                                </div>
                                <input type="hidden" name="id" id="id">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Choses</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <% if (add && add.address && add.address.length> 0) { %>
                        <% for (let i=0; i < add.address.length; i++) { %>
                            <% if (add.address[i].status===false) { %>
                                <!-- Code block -->

                                <div class=" mt-3 m-lg-3" data-bs-dismiss="modal"
                                    onclick="news('<%=add.address[i]._id%>')" style="width: 92%;">
                                    <div class=" se p-3 "
                                        style="width: 100;height: 12vw;box-shadow:1px 1px 8px 0px #888888;">

                                        <div>
                                            <p><span style="font-size: 1.4vw;">
                                                    <%=add.address[i].name%>
                                                </span></p>
                                            <p><span>
                                                    <%=add.address[i].place%>
                                                </span>,
                                                <br><span>
                                                    <%=add.address[i].locality%>,
                                                </span>
                                                <span>
                                                    <%=add.address[i].city%>
                                                </span>
                                                <span>
                                                    <%=add.address[i].state%>,
                                                </span>
                                                <span>
                                                    <%=add.address[i].pincode%>
                                                </span>
                                                <br>
                                                <span>Phone: <%=add.address[i].phone%> </span>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                                        <% } %>

                </div>
            </div>
            <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" >Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
    </div>





    <!-- WRAPPER START -->
    <div class="wrapper bg-dark-white">

        <!-- HEADER-AREA START -->


        <!-- sidebar-search End -->
        <!-- HEADER-AREA START -->
        <%- include('../layouts/user/Header.ejs') %>
            <!-- HEADER-AREA END -->
            <!-- Mobile-menu start -->
            <%- include('../layouts/user/mobile.ejs') %>

                <div class="heading-banner-area position-relative  overlay-bg">
                    <img src="/image/back.jpg" class="position-absolute object-fit-cover "
                        style="width: 100%; height: 100%;object-fit: cover; " alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="heading-banner">
                                    <div class="heading-banner-title">
                                        <h2>Check Out</h2>
                                    </div>
                                    <div class="breadcumbs pb-15">
                                        <ul>
                                            <li><a href="/cart">Shopping Cart</a></li>
                                            <li>Check Out</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- check-out start -->

                <div class="tab-pane active" id="check-out" style="height: 33vh;">

                    <% if(!locals.addres || locals.addres.address.length==0){ %>

                        <form action="/address" method="post" id="registerForm">
                            <h5 class="text-dark ">
                                <%=locals.msg %>
                            </h5>
                            <div class="shop-cart-table check-out-wrap">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-6">
                                        <div class="billing-details pr-20">
                                            <h4 class="title-1 title-border text-uppercase mb-30">billing details</h4>
                                            <input type="text" id="name1" name="name" placeholder="Your name here...">

                                            <input type="text" id="phone1" name="phone" placeholder="Phone here...">

                                            <input type="text" id="locality" name="locality"
                                                placeholder="Locality here...">

                                            <input type="text" id="pincode" name="pincode"
                                                placeholder="Pincode here...">

                                            <input type="text" id="city" name="city" placeholder="City here...">

                                            <input type="text" id="state" name="state" placeholder="State here...">


                                            <textarea class="custom-textarea" name="place"
                                                placeholder="Your address here..."></textarea>
                                            <span id="placeError" style="color: red;"></span>
                                        </div>
                                        <div>
                                            <button class="button-one submit-button mt-15" id="submitBtn"
                                                type="submit">Submit</button>
                                        </div>

                        </form>

                        <% }else{ %>
                            <div class="d-flex justify-content-between" style="    width: 37vw;margin-left: 43px;">
                                <div>
                                    <button class="btn btn-white  border-0 " type="button" data-toggle="modal"
                                        data-target="#example">
                                        <i class="ri-add-fill"></i></i>Add
                                    </button>
                                </div>
                                <div>

                                    <button class="btn btn-white  border-0" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" type="button" style="margin-left: 28px;">Change
                                        Address</button>
                                </div>
                            </div>

                            <% for(let i=0;i<add.address.length;i++){ %>
                                <% if(add.address[i].status==true){ %>

                                    <div class="fullAdd " style="margin-left: 28px;">

                                        <div class="addressDe p-3 ">
                                            <div class="d-flex justify-content-center">


                                                <div>
                                                    <p><span>
                                                            <%=add.address[i].name%>
                                                        </span></p>
                                                    <p><span>
                                                            <%=add.address[i].place%>
                                                        </span>,<span>
                                                            <%=add.address[i].locality%>
                                                        </span>
                                                        <span>
                                                            <%=add.address[i].city%>
                                                        </span>
                                                        <span>
                                                            <%=add.address[i].state%>,
                                                        </span>
                                                        <span>
                                                            <%=add.address[i].pincode%>
                                                        </span>
                                                        <br>
                                                        <span>Phone: <%=add.address[i].phone%> </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="justify-content-end d-flex">
                                                <a class="btn btn-white  border-0  " type="button">
                                                    <p style="cursor: pointer;" data-toggle="modal"
                                                        data-target="#examplemodal"
                                                        onclick="edit('<%=add.address[i]._id%>')"> <i
                                                            class="ri-edit-2-fill"></i>Edit</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>

                                        <% } %>

                </div>
    </div>
    <% } %>
        </div>
        <div class="row justify-content-end d-flex">
            <div class="col-md-6 ">
                <div class="our-order payment-details mt-60 pr-20">
                    <h4 class="title-1 title-border text-uppercase">our order</h4>
                    <table>
                        <thead>
                            <tr>
                                <th><strong>Product</strong></th>
                                <th class="text-end"><strong>Total</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let total=0 %>
                                <% let cartTotal=0%>
                                    <% let QuantityProduct=false %>
                                        <% carts.products.forEach((Data)=>{ %>
                                            <% total=Data.productId.offerPrire*Data.quantity %>
                                                <% cartTotal=cartTotal+total %>

                                                    <% if(Data.productId.quantity<Data.quantity){ %>

                                                        <% QuantityProduct=true %>
                                                            <input type="hidden" name="m" value="true"
                                                                id="quantitycheck">
                                                            <% } %>

                                                                <tr>
                                                                    <td>
                                                                        <%=Data.productId.name%> x <span>
                                                                                <%=Data.quantity%>
                                                                            </span>
                                                                    </td>
                                                                    <td class="text-end">₹<%=total%>.00</td>
                                                                </tr>
                                                                <% }) %>


                                                                    <tr>
                                                                        <td>Discount</td>
                                                                        <td class="text-end" id="discount">₹.00</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Order Total</td>
                                                                        <td class="text-end" id="total">₹<%=cartTotal%>
                                                                                .00</td>
                                                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6">
                <div class="customer-login mt-30">
                    <h4 class="title-1 title-border text-uppercase">coupon discount</h4>
                    <p class="text-gray">Enter your coupon code if you have one!</p>
                    <h6 class="text-danger" id="invalidAmount"></h6>
                    <h6 class="text-danger" id="TimeExceed"></h6>
                    <input class="code" type="text" name="coupon" placeholder="Enter your code here.">

                    <button id="clear" type="button" onclick="clear1()"
                        class="button-one submit-button mt-15">clear</button>
                    <button id="submit" type="submit" onclick="coupons()" class="button-one submit-button mt-15">apply
                        coupon</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-method mt-60 pb-20 pl-20">
                    <h4 class="title-1 title-border text-uppercase mb-30">payment method</h4>
                    <div class="payment-accordion">
                        <!-- Accordion start  -->
                        <!-- <h3 class="payment-accordion-toggle active">Direct Bank Transfer</h3>
                                    <div class="payment-content default">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.</p>
                                    </div>  -->
                        <!-- Accordion end -->
                        <!-- Accordion start -->
                        <!-- <h3 class="payment-accordion-toggle">Cheque Payment</h3>
                                    <div class="payment-content">
                                        <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                    </div> -->
                        <!-- Accordion end -->
                        <!-- Accordion start -->
                        <form id="orderForm" action="/order" method="post">
                            <h3 class="payment-accordion-toggle">Payment</h3>
                            <div class="payment-content">
                                <div class="Cash  ">

                                    <p id="wallet" class="<%= wallet?.balance>=cartTotal?'d-block':'d-none' %>">
                                        <span><input name="payment" value="Wallet" class="box" id="online"
                                                type="radio"></span>Wallet</p>

                                    <p> <span><input name="payment" value="Online Payment" checked class="box"
                                                id="online" type="radio"></span>UPI</p>

                                        
                                    <input type="hidden" id="payStatus" name="PayStatus">
                                    <% if(addres?.address?.length>0){ %>
                                        <p><span> <input name="payment" value="Cash on Delivery" class="box" id="cod"
                                                    type="radio">Cash on Delivery </span></p>
                                        <% }else{ %>
                                            <p style="display: inline-block;margin-left: 2rem;"> <span> <input
                                                        name="payment" disabled value="Cash on Delivery" class="box"
                                                        id="cod" type="radio">Cash on Delivery</span></p>
                                            <% } %>
                                </div>
                            </div>
                            <!-- Accordion end -->
                            <button class="button-one submit-button mt-15" type="button"
                                onclick="submit1('<%=cartTotal%>','<%=carts.clientId%>')">placeorder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- payment-method -->





        <%- include('../layouts/user/Footer.ejs') %>
            <!-- FOOTER END -->
            <!-- QUICKVIEW PRODUCT -->
            <div id="quickview-wrapper">
                <!-- Modal -->
                <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-product">
                                    <div class="product-images">
                                        <div class="main-image images">
                                            <img alt="#" src="img/product/quickview-photo.jpg" />
                                        </div>
                                    </div><!-- .product-images -->

                                    <div class="product-info">
                                        <h1>Aenean eu tristique</h1>
                                        <div class="price-box-3">
                                            <hr />
                                            <div class="s-price-box">
                                                <span class="new-price">$160.00</span>
                                                <span class="old-price">$190.00</span>
                                            </div>
                                            <hr />
                                        </div>
                                        <a href="shop.html" class="see-all">See all features</a>
                                        <div class="quick-add-to-cart">
                                            <form method="post" class="cart">
                                                <div class="numbers-row">
                                                    <input type="number" id="french-hens" value="3" min="1">
                                                </div>
                                                <button class="single_add_to_cart_button" type="submit">Add to
                                                    cart</button>
                                            </form>
                                        </div>
                                        <div class="quick-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue
                                            nec est
                                            tristique auctor. Donec non est at libero.
                                        </div>
                                        <div class="social-sharing">
                                            <div class="widget widget_socialsharing_widget">
                                                <h3 class="widget-title-modal">Share this product</h3>
                                                <ul class="social-icons">
                                                    <li><a target="_blank" title="Google +" href="#"
                                                            class="gplus social-icon"><i
                                                                class="zmdi zmdi-google-plus"></i></a>
                                                    </li>
                                                    <li><a target="_blank" title="Twitter" href="#"
                                                            class="twitter social-icon"><i
                                                                class="zmdi zmdi-twitter"></i></a>
                                                    </li>
                                                    <li><a target="_blank" title="Facebook" href="#"
                                                            class="facebook social-icon"><i
                                                                class="zmdi zmdi-facebook"></i></a>
                                                    </li>
                                                    <li><a target="_blank" title="LinkedIn" href="#"
                                                            class="linkedin social-icon"><i
                                                                class="zmdi zmdi-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p id="walletAmount" hidden>
                                                <%=wallet?.balance %>
                                            </p>
                                        </div>
                                    </div><!-- .product-info -->
                                </div><!-- .modal-product -->
                            </div><!-- .modal-body -->
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div>
                <!-- END Modal -->
            </div>
            <!-- END QUICKVIEW PRODUCT -->

            </div>
            <!-- WRAPPER END -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
//address add modal
             const modalAddress=document.getElementById('MyAddress')
             
        if(modalAddress){
            console.log('sjjsjs');
            modalAddress.addEventListener('submit', function (event) {+
                console.log('submit');
                        const flag=validate(modalAddress,6,schema)
    
                        if (!flag) {
                            event.preventDefault();
                        }
                    });


        }

//address edit modal

                const modalEdit=document.getElementById('EditModal')

                if(modalEdit){
                            console.log('sjjsjs');
                            modalEdit.addEventListener('submit', function (event) {+
                                console.log('submit');
                                        const flag=validate(modalEdit,6,schema)
                    
                                        if (!flag) {
                                            event.preventDefault();
                                        }
                                    });


                        }




                const schema = {
                    name: /^[a-zA-Z]+(?: [a-zA-Z]+)*$/,
                    phone: /^[0-9]{10}$/,
                    pincode: /^[0-9]{6}$/
                }
                const formSubmit = document.getElementById('registerForm')
                console.log(formSubmit);
                if(formSubmit){
                    formSubmit.addEventListener('submit', function (event) {
                        const flag=validate(formSubmit,6,schema)
    
                        if (!flag) {
                            event.preventDefault();
                        }
                    });


                }    

                function validate(el,count,schema){
                    const inputs = el.querySelectorAll('input');
                    const submitBtn = document.getElementById('submitBtn');
                    let flag = true;
                    inputs.forEach((inp,i) => {
                       if(i<count){
                        const val = inp.value.trim();
                        const name = inp.name;
                        const test = schema[`${name}`] || { test: () => true }
                        if (val && test?.test(val)) removeNextElem(inp,name);
                        else {
                            createElement(inp, name)
                            flag = true;
                            event.preventDefault();  
                            return
                        }
                       }
                    })
               return flag
                }

                function createElement(elem, name) {
                const next= elem.nextElementSibling
                if(next?.id!==`${name}22`){
                    const pTag = document.createElement('p');
                    pTag.style.color = "red";
                    pTag.id = `${name}22`
                    pTag.textContent = `invalid ${name}`;
                    elem.parentNode.insertBefore(pTag, elem.nextSibling);
                    elem.style.border = "1px solid red"
                }
                }

                function removeNextElem(elem,name) {
                    console.log('remove');
                    const nextSibling = elem.nextElementSibling;
                    elem.style.border = '0px solid '
                    console.log(nextSibling,name,elem);
                if (nextSibling?.id==`${name}22`) nextSibling.parentNode.removeChild(nextSibling);
                }




                const cle = document.getElementById('clear')
                const to = document.getElementById('total').textContent
                const submit = document.getElementById('submit')
                cle.style.display = 'none'
                const code = document.querySelector('input.code[type="text"][name="coupon"]');
                let data = localStorage.getItem("coupenId")
                if (data) {
                    cle.style.display = 'block';
                    submit.style.display = 'none';
                    code.value = data
                    coupons()
                }
                function clear1() {
                    const discount = document.getElementById('discount')
                    const total = document.getElementById('total')
                    total.textContent = to
                    discount.textContent = 0
                    code.value = '';

                    cle.style.display = 'none';
                    submit.style.display = 'block';
                    localStorage.removeItem('coupenId')
                    const amount = document.getElementById('walletAmount').textContent
                    const wallet = document.getElementById('wallet')
                    if (Number(to) < Number(amount)) {
                        wallet.classList.remove('d-none')

                    } else wallet.classList.add('d-none')
                }
                const form = document.getElementById('orderForm');
                //   const total=document.querySelectorAll('.text-end')
                // console.log(total)
                // let totalPrice= 0
                // price.forEach(e=>{
                //   totalPrice+=Number(e.textContent.replace('₹',''))  
                // })

                function submit1(amount, userId) {
                    const Radio = document.querySelector('input[name="payment"]:checked');


                    if (Radio.value == 'Cash on Delivery') {

                        form.submit()
                    } else if (Radio.value == 'Wallet') {
                        form.submit()
                    } else {

                        razor(amount, userId)
                    }
                }

                function razor(amount, userId) {
                    const paymentStutus = document.getElementById('payStatus')
                    fetch('/razor', {
                        method: 'POST',
                        headers: { 'Content-type': 'application/json' },
                        body: JSON.stringify({ amount, userId })
                    }).then(res => res.json()).then(data => {
                        if (data.succes) {

                            let options = {
                                "key": `${data.key_id}`,
                                "amount": `${data.amount}`,
                                "currency": "INR",
                                "name": "slayFIt",
                                "handler": function (response) {
                                    paymentStutus.value = "Paid"
                                    form.submit();
                                },
                                "profile": {
                                    "name": `${data.name}`,
                                    "email": `${data.email}`
                                }
                            }

                            let razorpayObject = new Razorpay(options);
                            razorpayObject.on('payment.failed', (response) => {
                                alert('payment failed');
                                paymentStutus.value = "Pending"
                                form.submit();
                            });
                            razorpayObject.open();
                        } else if (data.fail) {
                            const Toast = Swal.mixin({

                                toast: true,
                                position: "bottom",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,

                                didOpen: (toast) => {

                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }

                            });

                            Toast.fire({

                                icon: "warning",
                                title: "No address",
                                background: "31363F"

                            })
                        }
                    })
                }


                function news(n) {
                    fetch('/adressChange', {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ n })
                    })
                    window.location.href = '/checkout';
                }




                function coupons() {
                    const amount = document.getElementById('walletAmount').textContent
                    const discount = document.getElementById('discount')
                    const wallet = document.getElementById('wallet')
                    const total = document.getElementById('total')
                    const invalidAmount=document.getElementById('invalidAmount')
                    const invalidCoupon=document.getElementById('TimeExceed')
                    fetch('/applycoupon', {
                        method: "post",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ code: code.value })
                    }).then((data) => (data.json()))
                        .then((data) => {
                            if (data) {
                                cle.style.display = 'block';
                                submit.style.display = 'none';
                                localStorage.setItem("coupenId", code.value)
                                discount.textContent = '₹' + data.dis + '.00'
                                total.textContent = '₹' + data.total + '.00';
                                invalidAmount.textContent=data.err
                                invalidCoupon.textContent=data.msg

                                if (data.total < Number(amount)) {
                                    wallet.classList.remove('d-none')

                                } else wallet.classList.add('d-none')
                            }
                        })
                }

                const quantitycheck = document.getElementById('quantitycheck')?.value;

                if (quantitycheck) {

                    Swal.fire({
                        title: "Product of stock problem",
                        text: "",
                        icon: "error"
                    }).then(() => {
                        window.location.href = '/cart';
                    });
                }



                // Address Edit

                function edit(ID) {
                    const name2 = document.getElementById(`name1`)
                    const phone2 = document.getElementById(`phone`)
                    const locality2 = document.getElementById(`locality`)
                    const pincode2 = document.getElementById(`pincode`)
                    const city2 = document.getElementById(`city`)
                    const state2 = document.getElementById(`state`)
                    const place2 = document.getElementById(`place`)
                    const id2 = document.getElementById(`id`)
                    console.log(name2, 'lllllllllll')

                    fetch('/checkOutEdit', {
                        method: "post",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ ID })

                    }).then((res) => res.json())
                        .then((data) => {
                            const { name, phone, locality, pincode, place, city, state, _id } = data.checkOutEditData.address[0];
                            console.log(name, phone, locality, pincode, place, city, state, _id);
                            name2.value = name
                            phone2.value = phone
                            locality2.value = locality
                            pincode2.value = pincode
                            city2.value = city
                            state2.value = state
                            place2.value = place
                            id2.value = _id
                        })
                }




            </script>

            <style>
                .size {
                    font-size: 1.3rem;
                }

                .addressDe {
                    width: 40vw;
                    border-radius: 0 !important;

                }
            </style>

            <!-- all js here -->
            <!-- jquery latest version -->
            <%- include('../layouts/user/lyFooter.ejs') %>