<%- include('../layouts/user/lyHeader.ejs') %>
<style>
	.returns{
		border: 1px solid;
    border-color: #908989;
    border-radius: 6px;
	}
	
</style>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Choses</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/reason" method="post">						
								<div class="row" style="display: flex;
								align-items: center;
								gap: 0.8rem;
								flex-direction: column;">
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="The product received is defective" type="checkbox" onchange="handleCheckboxChange(this)" id="check1">
											<label style="cursor: pointer;" for="check1">The product received is defective</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="Received different size/color/ fit" type="checkbox" onchange="handleCheckboxChange(this)" id="check2">
											<label style="cursor: pointer;" for="check2">Received different size/color/ fit</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="Received wrong item" type="checkbox" onchange="handleCheckboxChange(this)" id="check3">
											<label style="cursor: pointer;" for="check3">Received wrong item</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="Received different color/size" type="checkbox" onchange="handleCheckboxChange(this)" id="check4">
											<label style="cursor: pointer;" for="check4">Received different color/size</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="Quality of the product not as expected" type="checkbox" onchange="handleCheckboxChange(this)" id="check5">
											<label style="cursor: pointer;" for="check5">Quality of the product not as expected</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="Product is missing in the package 📦" type="checkbox" onchange="handleCheckboxChange(this)" id="check6">
											<label style="cursor: pointer;" for="check6">Product is missing in the package 📦</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1  " >
											<input style="cursor: pointer;" name="checked" value="Don't like the style/fit of the product" type="checkbox" onchange="handleCheckboxChange(this)" id="check7">
											<label style="cursor: pointer;" for="check7">Don't like the style/fit of the product</label>
										</div>
									</div>
									<div class="col-md-12" style="cursor: pointer;">
										<div class=" text-center returns p-1" >
											<input style="cursor: pointer;" name="checked" value="Received a broken/damaged item" type="checkbox" onchange="handleCheckboxChange(this)" id="check8">
											<label style="cursor: pointer;" for="check8">Received a broken/damaged item</label>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-dark">Save changes</button>
									  </div>
								</div>
								<input type="hidden" name="Id" value="<%=order.products[0]._id%>" id="">
								<input type="hidden" name="orderId" value="<%=order.OrderId%>" id="">
							</form>	
					</div>
				</div>

				<!-- <div class="modal-footer">
				<button type="button" class="btn btn-secondary" >Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
				</div> -->
			</div>
		</div>

		<!-- WRAPPER START -->
		<div class="wrapper bg-dark-white">

			<!-- HEADER-AREA START -->
			<%- include('../layouts/user/Header.ejs') %>
			<!-- HEADER-AREA END -->
			<!-- Mobile-menu start -->
			<%- include('../layouts/user/mobile.ejs') %>
			<!-- Mobile-menu end -->
			<!-- HEADING-BANNER START -->	<div class="heading-banner-area position-relative  overlay-bg">
			<img src="/image/back.jpg" class="position-absolute object-fit-cover " style="width: 100%; height: 100%;object-fit: cover; " alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="cursor: pointer;">
							<div class="heading-banner">
								<div class="heading-banner-title">
									<h2>My Order</h2>
								</div>
								<div class="breadcumbs pb-15">
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="profile">My Profile</a></li>
                                        <li>My Order</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<br>
	<br>
	
	<div class="p-4 border-top " style="width: 88%;margin-left: 4rem;">
		<div class="row">
			<div class="col-md-12 p-3 " style="background-color: rgb(255, 255, 255);box-shadow: 1px 1px 8px 0px #888888;cursor: pointer;border-radius: 7px;">
				<div class="col-md-6">
					<h6>Deliver Address</h6>
					<h6><%=order.deliveryAddress.name %></h6>
					<p>
						<span><%=order.deliveryAddress.place%></span>,<span><%=order.deliveryAddress.locality %></span><br>
						<span><%=order.deliveryAddress.city%></span>,<span><%=order.deliveryAddress.state %></span>,<span><%=order.deliveryAddress.pincode %></span>
					</p>
				</div>
				
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 p-3 " style="background-color: rgb(255, 255, 255);box-shadow: 1px 1px 8px 0px #888888;border-radius: 7px;">
			<table>
				<tbody>
					<tr>
					
						<% let total=0 %>
												
						<% total=order.products[0].productId.offerPrire*order.products[0].quantity %>
	
						<% total=Math.round(total/ 100 * (100 - order.offer)) %>

						<td><a href="/product?id=<%=order.products[0].productId._id %>"><img  src="/ImageData/<%=order.products[0].productId.image[0]%>" width="100" alt=""></a></td>
						<td><%=order.products[0].productId.name %> <br>
			
							<p>₹ <%=total %></p>
						</td>
						
					</tr>
					
				</tbody>
			</table>	
			
			<br>
			<% if(order.products[0].returnTime!==Date()){ %>
			<% if(order.products[0].ProductStatus==='Canceled'){%>

				<% }else if(order.products[0].ProductStatus==='Delivered'){ %>
					<div>
						<button class="cancel" onclick=""  data-bs-toggle="modal" data-bs-target="#exampleModal"  style="box-shadow: 1px 1px 8px 0px #888888;">Return</button>
					</div>
				<% }else if(order.products[0].ProductStatus==='Return'){ %>
					<div>
						<p class="text-danger "><%=order.Return[0].OrderRequst %></p>
					</div>

					<% }else{ %> 
						<div>
						
							<button class="cancel" onclick="cancel('<%=order.products[0]._id%>','<%=order.OrderId%>')" style="box-shadow: 1px 1px 8px 0px #888888;">cancel</button>
						</div>
						<% } %>
						<% } %>
					
			</div>
			<div class="col-md-8 p-5 " style="background-color: rgb(255, 255, 255);box-shadow:5px 1px 8px 0px #888888;border-radius: 7px;">
	
					<div class="row d-flex justify-content-center ">	
						<% if(order.products[0].ProductStatus==='Ordered'){ %>
						<div class=" col-md-2 order-tracking completed">
							<span class="is-complete"></span>
							<p>Ordered<br><span>Mon, June 24</span></p>
						</div>
						<div class=" col-md-2 order-tracking  ">
							<span class="is-complete"></span>
							<p>Shipped<br><span>Tue, June 25</span></p>
						</div>
						<div class=" col-md-2 order-tracking">
							<span class="is-complete"></span>
							<p>Delivered<br><span>Fri, June 28</span></p>
						</div>	
						<% }else if(order.products[0].ProductStatus==="Shipped"){ %>
							<div class=" col-md-2 order-tracking completed">
								<span class="is-complete"></span>
								<p>Ordered<br><span>Mon, June 24</span></p>
							</div>
						<div class=" col-md-2 order-tracking completed ">
							<span class="is-complete"></span>
							<p>Shipped<br><span>Tue, June 25</span></p>
						</div>
						<div class=" col-md-2 order-tracking">
							<span class="is-complete"></span>
							<p>Delivered<br><span>Fri, June 28</span></p>
						</div>	
						<% }else if(order.products[0].ProductStatus==="Delivered"){ %>
							<div class=" col-md-2 order-tracking completed">
								<span class="is-complete"></span>
								<p>Ordered<br><span>Mon, June 24</span></p>
							</div>
						<div class=" col-md-2 order-tracking completed ">
							<span class="is-complete"></span>
							<p>Shipped<br><span>Tue, June 25</span></p>
						</div>
						<div class=" col-md-2 order-tracking completed">
						<span class="is-complete"></span>
						<p>Delivered<br><span>Fri, June 28</span></p>
					</div>				  
					<% } %>
						 <% if(order.products[0].ProductStatus==="Return"){ %>
							<div class=" col-md-2 order-tracking completed">
								<span class="is-complete"></span>
								<p>Ordered<br><span>Mon, June 24</span></p>
							</div>
						<div class=" col-md-2 order-tracking completed ">
							<span class="is-complete"></span>
							
						</div>
						<div class=" col-md-2 order-tracking completed">
						<span class="is-complete"></span>
						<p>Return<br><span>Fri, June 28</span></p>
					</div>	
							<% }else if(order.products[0].ProductStatus==="Canceled"){ %>
								<div class=" col-md-2 order-tracking completed" >
									<span class="is-complete"></span>
									<p>Ordered<br><span>Mon, June 24</span></p>
								</div>
							<div class=" col-md-2 order-tracking completed ">
								<span class="is-complete"></span>
						
							</div>
							<div class=" col-md-2 order-tracking completed">
							<span class="is-complete"></span>
							<p>Canceled<br><span>Fri, June 28</span></p>
						</div>	
								<% } %>
				  </div>
			
			</div>
			
		</div>
		
	</div>
	<% if(order.products[0].ProductStatus==="Delivered"){ %>
	<a class="text-center " href="/invoice/<%=order.products[0]._id%>?OrderId=<%=order.OrderId%>"><div class="d-flex justify-content-center ">
		
		<div class="col-md-2 p-2  d-flex justify-content-center "  style="border-radius: 7px;border: 1px solid">
			<h6 class="text-dark pt-1   ">Invoice Download</h6>
		</div>
	</div></a>
	<% } %>
	
            <br>
                            
			<%- include('../layouts/user/Footer.ejs') %>
			<!-- FOOTER END -->
			<!-- QUICKVIEW PRODUCT -->
			<div id="quickview-wrapper">
			   <!-- Modal -->
			   <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="modal-body">
								<div class="modal-product">
									<div class="product-images">
										<div class="main-image images">
											<img alt="#" src="img/product/quickview-photo.jpg"/>
										</div>
									</div><!-- .product-images -->

									<div class="product-info">
										<h1>Aenean eu tristique</h1>
										<div class="price-box-3">
											<hr />
											<div class="s-price-box">
												<span class="new-price">$160.00</span>
												<span class="old-price">$190.00</span>
											</div>
											<hr />
										</div>
										<a href="shop.html" class="see-all">See all features</a>
										<div class="quick-add-to-cart">
											<form method="post" class="cart">
												<div class="numbers-row">
													<input type="number" id="french-hens" value="3" min="1">
												</div>
												<button class="single_add_to_cart_button" type="submit">Add to cart</button>
											</form>
										</div>
										<div class="quick-desc">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
										</div>
										<div class="social-sharing">
											<div class="widget widget_socialsharing_widget">
												<h3 class="widget-title-modal">Share this product</h3>
												<ul class="social-icons">
													<li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="zmdi zmdi-google-plus"></i></a></li>
													<li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="zmdi zmdi-twitter"></i></a></li>
													<li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="zmdi zmdi-facebook"></i></a></li>
													<li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
									</div><!-- .product-info -->
								</div><!-- .modal-product -->
							</div><!-- .modal-body -->
						</div><!-- .modal-content -->
					</div><!-- .modal-dialog -->
			   </div>
			   <!-- END Modal -->
			</div>
			<!-- END QUICKVIEW PRODUCT -->	
			
		</div>
		<!-- WRAPPER END -->

		<!-- all js here -->
		<!-- jquery latest version -->


<!-- all js here -->
<!-- jquery latest version -->

<script>
	 function handleCheckboxChange(checkboxId) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach((checkbox) => {
            if (checkbox.id !== checkboxId.id) {
                checkbox.checked = false;
            }
        });
    }
	function  cancel(id,orderId){
			

const { value: string } =  Swal.fire({
  title: "Cancel ",
 
  showCancelButton: true,
  inputValidator: (value) => {
    if (!value) {
      return "You need to write something!";
    }
  }
});
if (string) {
 
}


	fetch('/usercancel', {
			method: "POST",
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ id,orderId })
		})

	}
	console.log('anhahahahah');
</script>

      
<style>
	.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 20.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	border: 0px solid #AFAFAF;
	background-color: #393939;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #B79BB2;
	border-width: 0px;
	background-color: #B79BB2;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #393939;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #B79BB2;
}

.cancel:hover{
	background-color: #e4e2e2;
}
.cancel:active{
	background-color: #979696;
}

</style>

<%- include('../layouts/user/lyFooter.ejs') %>
