<%- include('../layouts/user/lyHeader.ejs') %>	
		<!-- WRAPPER START -->
		<div class="wrapper bg-dark-white">

			<!-- HEADER-AREA START -->
			<%- include('../layouts/user/Header.ejs') %>
			<!-- HEADER-AREA END -->
			<!-- Mobile-menu start -->
			<%- include('../layouts/user/mobile.ejs') %>
			<!-- Mobile-menu end -->
			<!-- HEADING-BANNER START -->
			<div class="heading-banner-area position-relative  overlay-bg">
				<img src="/image/back.jpg" class="position-absolute object-fit-cover " style="width: 100%; height: 100%;object-fit: cover; " alt="">

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="heading-banner">
								<div class="heading-banner-title">
									<h2>Sign Up</h2>
								</div>
								<div class="breadcumbs pb-15">
									<ul>
										<li><a href="/">Home</a></li>
										<li>Sign Up</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- HEADING-BANNER END -->
			<!-- SHOPPING-CART-AREA START -->
			<div class="login-area  pt-80 pb-80">
				<div class="container">
					<div class="row d-flex justify-content-center ">
			
						
							<div class="col-lg-6">
								<form name="signupForm" action="/signUp" method="post" id="registerForm">
								<div class="customer-login text-left">
									<h4 class="title-1 title-border text-uppercase mb-30">new customers</h4>
									<p class="text-gray">If you have an account with us, Please login!</p>
									<%=locals.msg %>
									<span id="nameError" style="color: red;"></span>
									<input type="text" id="Name" placeholder="Your name here..." name="name">
									<span id="phoneError" style="color: red;"></span>
									<input type="text" id="Phone" placeholder="Number" name="phone">
									<span id="emailError" style="color: red;"></span>
									<input class="email" id="Email" type="email" placeholder="Email" name="email">
									<span id="passwordError" style="color: red;"></span>
									<input type="password" required id="Password" placeholder="Password" name="password">
									<input type="text" id="refferal1" placeholder="Refferal Code" name="refferal">
										<p class="mb-0">
											<input type="checkbox" id="newsletter" name="newsletter" checked>
										<label for="newsletter"><span>Sign up for our newsletter!</span></label>
										</p>
								
									<div class="d-flex justify-content-center ">
										<button  type="submit" id="submitBtn"   class="button-one submit-button mt-15">regiter</button>
									</div>
								</form>
                                <p>Already have an account? <a href="/login"> Login</a></p> 
							</div>	
							<div style="background-color: white;height: 5rem;">
								<div class="d-flex  justify-content-center ">
									<a href="/auth/google"><button class="gsi-material-button">
										<div class="gsi-material-button-state"></div>
										<div class="gsi-material-button-content-wrapper">
										  <div class="gsi-material-button-icon">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
											  <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
											  <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
											  <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
											  <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
											  <path fill="none" d="M0 0h48v48H0z"></path>
											</svg>
										  </div>
										  <span class="gsi-material-button-contents">Sign up with Google</span>
										  <span style="display: none;">Sign up with Google</span>
										</div>
									  </button></a>
								</div> 
							</div>
							<!-- <button class="bg-primary  ">	<a href="/auth/google">Google</a></button>	
									 -->

							</div>
						</div>
				</div>
			</div>
			<!-- SHOPPING-CART-AREA END -->
			<!-- FOOTER START -->
			<%- include('../layouts/user/Footer.ejs') %>
			<!-- FOOTER END -->
			<!-- QUICKVIEW PRODUCT -->
			<div id="quickview-wrapper">
			   <!-- Modal -->
			   <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
							<div class="modal-body">
								<div class="modal-product">
									<div class="product-images">
										<div class="main-image images">
											<img alt="#" src="img/product/quickview-photo.jpg"/>
										</div>
									</div><!-- .product-images -->

									<div class="product-info">
										<h1>Aenean eu tristique</h1>
										<div class="price-box-3">
											<hr />
											<div class="s-price-box">
												<span class="new-price">$160.00</span>
												<span class="old-price">$190.00</span>
											</div>
											<hr />
										</div>
										<a href="shop.html" class="see-all">See all features</a>
										<div class="quick-add-to-cart">
											<form method="post" class="cart">
												<div class="numbers-row">
													<input type="number" id="french-hens" value="3" min="1">
												</div>
												<button class="single_add_to_cart_button" type="submit">Add to cart</button>
											</form>
										</div>
										<div class="quick-desc">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
										</div>
										<div class="social-sharing">
											<div class="widget widget_socialsharing_widget">
												<h3 class="widget-title-modal">Share this product</h3>
												<ul class="social-icons">
													<li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="zmdi zmdi-google-plus"></i></a></li>
													<li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="zmdi zmdi-twitter"></i></a></li>
													<li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="zmdi zmdi-facebook"></i></a></li>
													<li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
												</ul>
											</div>
										</div>
									</div><!-- .product-info -->
								</div><!-- .modal-product -->
							</div><!-- .modal-body -->
						</div><!-- .modal-content -->
					</div><!-- .modal-dialog -->
			   </div>
			   <!-- END Modal -->
			</div>
			<!-- END QUICKVIEW PRODUCT -->	
			
		</div>
		<!-- WRAPPER END -->

		<!-- all js here -->




<script>

document.getElementById('Name').addEventListener('input', function(event) {
    const firstName = this.value.trim();
    const firstNameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
    const firstNameError = document.getElementById('nameError');
    const submitBtn = document.getElementById('submitBtn');

    // Validate first name
    if (!firstNameRegex.test(firstName)) {
        firstNameError.textContent = 'Invalid First Name';
        submitBtn.disabled = true;
    } else {
        firstNameError.textContent = ''; // Clear error message
        submitBtn.disabled = false;
    }
});

document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    // Submit the form if the submit button is not disabled
    const submitBtn = document.getElementById('submitBtn');
    if (!submitBtn.disabled) {
        this.submit();
    }
});




 


document.getElementById('Email').addEventListener('input', function(event) {
    const email = this.value.trim();
    const emailRegex = /^[A-Za-z0-9.%+-]+@gmail\.com$/;
    const emailError = document.getElementById('emailError');
    const submitBtn = document.getElementById('submitBtn');

    // Validate email
    if (!emailRegex.test(email)) {
        emailError.textContent = 'Invalid Email';
        submitBtn.disabled = true;
    } else {
        emailError.textContent = ''; // Clear error message
        submitBtn.disabled = false;
    }
});

document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    // Submit the form if the submit button is not disabled
    const submitBtn = document.getElementById('submitBtn');
    if (!submitBtn.disabled) {
        this.submit();
    }
});




document.getElementById('Phone').addEventListener('input', function(event) {
    const mobile = this.value.trim();
    const mobileRegex = /^\d{10}$/;
    const mobileError = document.getElementById('phoneError');
    const submitBtn = document.getElementById('submitBtn');

    // Validate mobile number
    if (!mobileRegex.test(mobile)) {
        mobileError.textContent = 'Invalid Mobile Number';
        submitBtn.disabled = true;
    } else {
        mobileError.textContent = ''; // Clear error message
        submitBtn.disabled = false;
    }
});

document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    // Submit the form if the submit button is not disabled
    const submitBtn = document.getElementById('submitBtn');
    if (!submitBtn.disabled) {
        this.submit();
    }
});



document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('Password').addEventListener('input', function(event) {

        const password = this.value.trim();

        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&])[a-zA-Z\d!@#$%^&]{8,}$/;

        const passwordError = document.getElementById('passwordError');

        const submitBtn = document.getElementById('submitBtn');

        if (!passwordRegex.test(password)) {
            passwordError.textContent = 'Password should have 8 characters containing uppercase, lowercase, symbols, and numbers';
            submitBtn.disabled = true;
        } else {
            passwordError.textContent = '';
            submitBtn.disabled = false;
        }
    });

    document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const submitBtn = document.getElementById('submitBtn');
        if (!submitBtn.disabled) {
            this.submit();
        }
    });
});





</script>




<style>
	.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

</style>
<%- include('../layouts/user/lyFooter.ejs') %>
